<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>  
       <setting name="logImpl" value="STDOUT_LOGGING" />  
  	</settings>
  	<typeAliases>
  	    <package name="com.yuanmaxinxi.dao" />
  	</typeAliases>
	<!-- 环境配置 -->
	<environments default="default">
	 	<environment id="default">
	 		<transactionManager type="JDBC" />
	 		<dataSource type="POOLED">
	 			<property name="driver" value="com.mysql.jdbc.Driver"/>
	 			<property name="url" value="jdbc:mysql://122.114.0.52/enroll"/>
	 			<property name="username" value="root"/>
	 			<property name="password" value="admin"/>
	 		</dataSource>
	 	</environment>
	</environments>
	<mappers>
	 	<package name="com.yuanmaxinxi.dao" />
	</mappers>
</configuration>